<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport"/>
    <style>
        @media screen and (max-width:600px) {
            .title {
                font-size: 22px!important;
            }
            .content {
                font-size: 18px!important;
                line-height:20px;
            }
            .button {
                font-size: 20px!important;
            }
        }
    </style>
</head>
<body style='font-size: 10pt; font-family: Verdana,Geneva,sans-serif'>
<table style="background-color:#f9fafc" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#f9fafc">
    <tbody>
    <tr style="display:none!important;font-size:1px">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <table style="max-width:590px!important;width:590px" border="0" width="590" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table style="min-width:590px" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td style="min-width:590px" align="center" valign="top">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" height="38"><img style="display:block;max-height:38px;max-width:20px" src="{{ imagesUrl }}/dot.gif" width="20" height="38" class="CToWUd"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <div style="background-color:#ffffff;border-radius:0px">
                            <table style="min-width:590px" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td style="min-width:590px" align="center" valign="top">
                                        <table style="background-color:#ffffff;border-radius:0px;padding-left:20px;padding-right:20px;border-collapse:separate" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="20">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" valign="top">
                                                                <table border="0" cellspacing="0" cellpadding="0" align="center">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="line-height:1px" align="center" valign="middle">
                                                                            <div style="display:inline-block;border:0px None #000">
                                                                                <div><img style="float:left;max-width:550px;display:block" src="{{ imagesUrl }}/colibris-logo.png" alt="colibris" width="550" border="0" hspace="0" vspace="0" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 979px; top: 253px;"><div id=":sv" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Télécharger la pièce jointe " data-tooltip-class="a1V" data-tooltip="Télécharger"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="20">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <div style="background-color:#ffffff;border-radius:0px">
                            <table style="min-width:100%" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table style="background-color:#ffffff;padding-left:20px;padding-right:20px;border-collapse:separate;border-radius:0px;border-bottom:0px none #c8c8c8" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="20">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <th style="text-align:left;font-weight:normal;padding-right:0px" valign="top">
                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="content" style="font-size:14px;font-family:Arial,Helvetica,sans-serif,sans-serif;color:#3c4858;line-height:21px">
                                                                            <div>Bonjour,</div>
                                                                            <div><br>Voici les actualités du mouvement Colibris :<br><br></div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="0">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {{#each notificationsByCategories}}
                    <tr>
                        <td align="center" valign="top">
                            <div style="background-color:#ffffff;border-radius:0px">
                                <table style="min-width:100%" border="0" width="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table style="background-color:#ffffff;padding-left:20px;padding-right:20px;border-collapse:separate;border-radius:0px;border-bottom:0px none #c8c8c8" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                <tbody>
                                                <tr>
                                                    <td style="font-size:1px;line-height:0px" height="20">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:14px;font-family:Arial,Helvetica,sans-serif,sans-serif;color:#3c4858;line-height:21px">
                                                        <div class="content"><strong>{{category}}</strong></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {{#each notifications}}
                    <tr>
                        <td align="center" valign="top">
                            <div style="background-color:#ffffff;border-radius:0px">
                                <table style="min-width:100%" border="0" width="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table style="max-width:100%;min-width:100%;table-layout:fixed;background-color:#ffffff;border-radius:0px;border-collapse:separate;padding:20px" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                <tbody>
                                                <tr>
                                                    <td align="left" valign="top">
                                                        <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                            <tr>
                                                                <th style="text-align:left;font-weight:normal;padding-right:20px" valign="top" width="180">
                                                                    <table border="0" width="180" cellspacing="0" cellpadding="0" align="left">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="line-height:1px" align="left" valign="top" width="100%">
                                                                                <div style="border-top:0px none #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;display:inline-block">
                                                                                    <div>
                                                                                        <img style="vertical-align:top;float:left;width:180px;max-width:591px!important" src="{{ this.image }}" width="180" border="0" hspace="0" vspace="0" class="CToWUd a6T" tabindex="0">
                                                                                    </div>
                                                                                    <div style="clear:both">&nbsp;</div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </th>
                                                                <th style="text-align:left;font-weight:normal" valign="top">
                                                                    <table border="0" width="350" cellspacing="0" cellpadding="0" align="left">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="font-family:Arial,Helvetica,sans-serif;color:#3c4858;text-align:left"><span style="color:#3c4858"><strong><span class="title" style="font-size:18px">{{ this.title }}</span></strong></span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size:1px;line-height:0px" height="10">&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size:14px;font-family:Arial,Helvetica,sans-serif;color:#3c4858;float:right;width:350px;line-height:21px">
                                                                                <div class="content">{{ this.description }}</div>
                                                                                <div>&nbsp;</div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top">
                                                                                <table style="border-collapse:separate" border="0" cellspacing="0" cellpadding="0" align="left">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td style="font-size:18px;font-family:Arial,Helvetica,sans-serif;text-align:center;color:#ffffff;font-weight:normal;padding-left:14px;padding-right:14px;background-color:#e68c1e;border-radius:4px;border-collapse:separate;border:0px None #000" align="center" valign="middle" bgcolor="#e68c1e" width="auto" height="45">
                                                                                            <span style="color:#ffffff;font-weight:normal" class="button">
                                                                                                <a style="text-decoration:none;color:#ffffff;font-weight:normal" href="{{{ this.actionLink }}}" rel="noopener noreferrer" target="_blank">
                                                                                                    {{ this.actionName }}
                                                                                                </a>
                                                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                {{/each}}
                <tr>
                    <td align="center" valign="top">
                        <div style="background-color:#ffffff;border-radius:0px">
                            <table style="min-width:100%" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table style="background-color:#ffffff;padding-left:20px;padding-right:20px;border-collapse:separate;border-radius:0px;border-bottom:0px none #c8c8c8" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="20">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:14px;font-family:Arial,Helvetica,sans-serif,sans-serif;color:#3c4858;line-height:21px">
                                                    <div class="content"><strong>RAPPEL</strong><br>Vous avez choisi d'être informé.e des actualités du mouvement Colibris :
                                                        <ul>
                                                            <li>{{#if subscription.radius }}A {{ subscription.radius }}km de chez vous {{else}}Dans le monde entier{{/if}}</li>
                                                            <li>Concernant les thématiques: {{ subscription.themes }}</li>
                                                        </ul>
                                                        <div>Pour modifier vos alertes ou vous désabonner :</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <div style="background-color:#ffffff;border-radius:0px">
                            <table style="min-width:590px" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td style="min-width:590px" align="center" valign="top">
                                        <table style="background-color:#ffffff;border-radius:0px;padding-left:20px;padding-right:20px;border-collapse:separate" border="0" width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="20">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <th valign="top">
                                                                <table border="0" width="550" cellspacing="0" cellpadding="0" align="center">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top">
                                                                            <table style="margin:auto;border-collapse:separate" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="font-size:18px;font-family:Arial,Helvetica,sans-serif;color:#ffffff;font-weight:normal;padding-left:20px;padding-right:20px;vertical-align:middle;background-color:#e68c1e;border-radius:4px;border:0px None #000" align="center" valign="middle" bgcolor="#e68c1e" width="auto" height="50">
                                                                                        <span style="color:#ffffff;font-weight:normal" class="button">
                                                                                            <a style="text-decoration:none;color:#ffffff;font-weight:normal" href="{{{ frontUrl }}}" rel="noopener noreferrer" target="_blank">
                                                                                                Mes préférences
                                                                                            </a>
                                                                                        </span>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <div style="background-color:#ffffff;border-radius:0px">
                            <table style="min-width:100%" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table style="background-color:#ffffff;padding-left:20px;padding-right:20px;border-collapse:separate;border-radius:0px;border-bottom:0px none #c8c8c8" border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="20">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <th style="text-align:left;font-weight:normal;padding-right:0px" valign="top">
                                                                <table border="0" width="100%" cellspacing="0" cellpadding="0" align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="font-size:14px;font-family:Arial,Helvetica,sans-serif,sans-serif;color:#3c4858;line-height:21px">
                                                                            <div class="content">A bientôt !</div>
                                                                            <div class="content"><br><strong>L'équipe de Colibris</strong></div>
                                                                            <br>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="0">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <div style="background-color:#f9fafc">
                            <table style="min-width:590px" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td style="min-width:590px;background-color:#f9fafc;text-align:center" align="center" valign="top" bgcolor="#f9fafc">
                                        <table style="padding-right:20px;padding-left:20px;background-color:#f9fafc" border="0" width="590" cellspacing="0" cellpadding="0" align="center" bgcolor="#f9fafc">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="10">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="font-size:10px;color:#888888;font-weight:normal;text-align:center;font-family:Arial,Helvetica,sans-serif">
                                                        <div>Cet email a été envoyé à <a href="mailto:{{ subscription.email }}" target="_blank">{{ subscription.email }}</a>, car vous avez choisi de recevoir les actualités du mouvement Colibris. Si ce n'est pas vous, vous pouvez vous désinscrire en cliquant sur le lien ci-dessus.</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:1px;line-height:0px" height="10">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>