<body>
  <a href="{{homeUrl}}">
    <img src="{{logoUrl}}" alt="Colibris" style="max-width: 100%">
  </a>
  <p>
    <em>Le message suivant a été envoyé depuis votre profil <a href="{{homeUrl}}">Colibris</a> par {{name}} ({{email}})</em>
  </p>
  <p>
    {{{contentWithBr}}}
  </p>
</body>
